header {
    width: 100%;
    padding: 20px 8%;
    position: sticky;
    top: 0;
    background-color: #422b2b;
    z-index: 3;
}

#navbar {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-logo {
    font-size: 20px;
    color: #ffffff;
    padding-right: 20px;
    font-weight: bold;
}


#nav-logo:hover {
    color: #E07A5F;
}

#nav-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-item.active a {
    color: #ffffff;
    border-bottom: 3px solid #E07A5F;
}

#mobile-btn {
    display: none;
}

#mobile-menu {
    display: none;
}

/*Responsividade*/
@media screen and (max-width: 1555px) {
    #nav-list {
        display: none;
    }

    #mobile-btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile-menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile-nav-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile-nav-list .nav-item {
        list-style: none;
        text-align: center;
    }

}