@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miniver&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('testimonials.css');
@import url('footer.css');
@import url('about.css');

:root {
    --color-primary-1: #fdfcfb; /* Fundo claro (gradiente inicial) */
    --color-primary-2: #4a2f1c; /* Cor do título principal */
    --color-primary-3: #d1a684; /* Borda do título */
    --color-primary-4: #67442b; /* Subtítulo */
    --color-primary-5: #4a3b28; /* Texto geral */

    --color-neutral-0: #fff; /* Branco puro */
    --color-neutral-1: #1d1d1d; /* Preto neutro */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--color-primary-1);
    line-height: 1.6;
    color: var(--color-primary-2);
}

header {
    background: var(--color-primary-1); 
    padding: 16px 8%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-4);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    color: var(--color-neutral-0);
}


.btn-default:hover {
    background-color: var(--color-primary-5);
    transform: scale(1.05);
}

.social-media-buttons {
    display: flex;
    gap: 10px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--color-neutral-0);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-neutral-1);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(255, 255, 255, 0.1);
}

.section-title {
    color: var(--color-primary-3);
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
    color: var(--color-primary-4);
}